
.link {
  font-family: Roboto, Arial, sans-serif;
  color: lightblue;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
}
.link:visited {
  text-decoration: none;
  color: purple
}
.link:active {
  text-decoration: underline, line-through;
  font-weight: bolder;
  color: royalblue
}

.text {
  font-family: Arial, Roboto, sans-serif;
  color: black;
  font-size: 14px;
  cursor: zoom-in;
  transition-duration: 0.25s
}

/* Make it so clicking on text makes it larger */
.text:active {
  font-size: 18px;
  cursor: zoom-out;
}
